mrcfile==1.2.0
numpy>=1.19.4
numba>=0.52.0
torch>=1.6.0
scipy>=1.6.0
configparser
requests>=2.21.0,<3
sniffio>=1.1
pyyaml>=5.1
tqdm>=4.42.1
decorator
jedi>=0.16
pexpect>4.3
traitlets>=5
tqdm<6.0,>=4.57.0
regex>=2022.1.18
tornado>=6.2
nest-asyncio
appnope
tensorflow<2.14.0
click
cycler>=0.10
pillow>=8
pyparsing>=2.3.1